/* Mobile First Design */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');

:root {
    --pink: hsl(322, 100%, 66%);
    --dark-cyan: hsl(192, 100%, 9%);
    --pale-blue: hsl(207, 100%, 98%);
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --fs-heading-big: 2rem;
    --fw-normal: 400;
    --fw-medium: 600;
    --fw-bold: 700;
}

* {
    outline: 1px solid black;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-size: 14px;
}

.container {
    max-width: 720px;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-row-gap: 10px;
}

h1 {
    font-family: var(--fs-heading-big);
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: var(--fw-bold);
}

p {
    font-family: var(--font-body);
}

img {
    display: block;
    width: 85%;
}

.btn {
    font-family: var(--font-body);
    cursor: pointer;
    outline: none;
}

/* Header Styling */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
}
.header_logo {
    display: inline-block;
    width: 60%;
    margin-top: 10px;
    margin-left: 20px;
}
.header_btn {
    background: transparent;
    border: 1px solid var(--pink);
    border-radius: 25rem;
    font-family: var(--font-body);
    margin-right: 20px;
    color: var(--pink);
    width: 100px;
    padding: .5rem 1rem;
}

/* Main Styling */
.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* Hero Section */ 

.hero {
    align-items: center;
    margin: 100px 50px;   
}
.hero_title {
    font-size: var(--fs-heading-big);
    text-align: center;
    padding: 0 30px;
    font-weight: var(--fw-bold);

}

/* Screen Data */



/* Attribution */
.attribution { 
    text-align: center;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}