@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');


* {
    outline: 1px solid black;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(207, 100%, 98%);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.wrapper {
    max-width: 720px;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-row-gap: 10px;
}





/* Attribution */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}