/* Mobile First Design */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');

:root {
    --pink: hsl(322, 100%, 66%);
    --dark-cyan: hsl(192, 100%, 9%);
    --pale-blue: hsl(207, 100%, 98%);
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --fw-normal: 400;
    --fw-medium: 600;
    --fw-bold: 700;
}

* {
    outline: 1px solid black;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--pale-blue);
    font-family: var(--font-body);
    font-size: 16px;
}

.wrapper {
    max-width: 720px;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-row-gap: 10px;
}



.nav_btn {
    font-family: var(--font-body);
    outline: none;
    background: transparent;
    border: 1px solid var(--pink);
    border-radius: 25rem;
    color: var(--pink);
    padding: 0.5rem 1.5rem;
    font-size: 1.4rem;
}

/* Header and Navigation */
.header {
    width: 100vw;
    height: 30vw;
    padding-bottom: 1px;
}
.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 30.75vw;
    top: 0;
    bottom: 0;
    
}

/* Hero */
.hero  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vw;
    padding-bottom: 1px;
    z-index: -1; 
}
.hero h1,
.hero p {
    width: 51vw;
    text-align: center;
    line-height: 1.5;
}

.hero p {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Attribution */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}