/* Tablet and Desktop Design */

/* Phones beginning at 468px width */

@media only screen and (min-width: 468px){
    .btn--pink {
        font-size: 3vw;
    }
}

/* Tablets beginning at 600px width */

@media only screen and (min-width: 600px) {
    .header__btn {
        font-size: 2.25vw;
    }
    .hero__intro {
        width: 90vw;
    }
    .hero__title {
        width: 65vw;
    }
    .hero__text {
        width: 65vw;
    }
    .hero__btn {
        width: 50vw;
    }
    .hero__image {
        margin: 3rem auto;
    }
    .data-content__number {
        font-size: 5rem;
    }
    .messages {
        font-size: 4.5rem;
    }
    .cta {
        width: 90vw;
    }
    .cta__title {
        width: 65vw;
    }
    .cta__btn {
        width: 50vw;
    }
    .btn--pink {
        font-size: 2.25vw;
    }
    .footer__newsletter {
        width: 80vw;
        max-width: 500px;
        margin: 2.5rem auto;
    }
    .footer__newsletter--text {
        width: 50vw;
    }
    .footer__info {
        width: 80vw;
        max-width: 500px;
        margin: 2.5rem auto;
    }
    .footer__logo {
        width: 40vw;
    }

}

/* Desktop beginning at 768px width */
@media only screen and (min-width: 768px){
    .header__logo {
        margin-left: 3rem;
    }
    
    .header__btn {
        width: 15vw;
        font-size: 1vw;
        margin-right: 3rem;
        padding: 0.5rem 1rem;
    }
    .btn--pink {
        width: 40vw;
        font-size: 2vw;
        padding: 1rem 2.5rem;
        border-radius: 50px;
    }
    .hero__title {
        margin: 0.5rem auto;
        padding: 1rem;
    }
    .hero__btn {
        margin: 1rem auto;
    }
    
    .data {
        flex-direction: row;
        justify-content: space-between;
    }
    .grow,
    .users {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .conversations {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .conversations {
        flex-direction: row-reverse;
    }
        
    .feature__title {
        text-align: left;
    }
    .feature__text {
        text-align: left;
        font-size: 14px;
    }
   .footer__text {
       margin: 1rem 0;
   }
   .footer__contact {
       margin: 1rem 0.25rem;
   }
   .footer__newsletter--form-btn {
       width: 175px;
   }
}

/* Desktop beginning at 1200px */
@media only screen and (min-width: 1200px){
    .btn--pink {
        width: 30vw;
        font-size: 1.5vw;
    }
    .hero__title {
        font-size: 2.15rem;
    }
    .hero__text {
        width: 45vw;
        margin: 1rem 3rem;
        padding: 3rem auto;
    }
    .hero__image {
        width: 70%;
    }
    .data {
        margin: 3rem 2rem;
    }
    .feature__image {
        width: 60%;
        max-width: 570px;
        max-height: 467px;
    }
    .feature__description {
        width: 56%;
        margin: auto 2rem;
    }
    .feature__title {
        font-size: 1.7rem;
    }
    .feature__text {
        max-width: 500px;
        font-size: 16px;
        padding-right: 1rem;
    }
    .cta {
        margin: 2rem auto;
    }
    .footer__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto 1rem;
    }
    .footer__info {
        width: 30vw;
        max-width: 360px;
        margin: 1rem 2rem;
        order: 1;
    }
    .footer__logo{
        width: 20vw;
    }
    .footer__newsletter {
        width: 35vw;
        max-width: 420px;
        margin:  1rem 2rem;
        order: 2;
    }
    .footer__newsletter--text {
        width: 32vw;
    }
    
}3